<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{swapi.peoples[swapi.ind].name}}</h4>
			</div>
			<div class="modal-body">
				<table class="table">
					<tr>
						<td class="caption"><strong>Gender</strong></td>
						<td>{{swapi.peoples[swapi.ind].gender}}</td>
					</tr>
					<tr>
						<td class="caption"><strong>Height</strong></td>
						<td>{{swapi.peoples[swapi.ind].height}}</td>
					</tr>
					<tr>
						<td class="caption"><strong>Mass</strong></td>
						<td>{{swapi.peoples[swapi.ind].mass}}</td>
					</tr>
					<tr>
						<td class="caption"><strong>Eye color</strong></td>
						<td>{{swapi.peoples[swapi.ind].eye_color}}</td>
					</tr>
					<tr>
						<td class="caption"><strong>Skin color</strong></td>
						<td>{{swapi.peoples[swapi.ind].skin_color}}</td>
					</tr>
					<tr>
						<td class="caption"><strong>Hair color</strong></td>
						<td>{{swapi.peoples[swapi.ind].hair_color}}</td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>